{% set page_title = "" %}
{% extends "layout.njk" %}
{% block head_script %}{% endblock %}
{% block content %}
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    {% include "../pages_templates/home/cut-1.njk" %}
    {% include "../pages_templates/home/cut-2.njk" %}
    {% include "../pages_templates/home/cut-3.njk" %}
    {% include "../pages_templates/home/cut-4.njk" %}
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->
{% endblock %}
{% block page_script %}{% endblock %}
