<section class="cut-3 section-wrap">
    <div class="section-container">
        <div class="cut-3-row cut-3-row-1">
            <div class="cut-3-col cut-3-img">
                <img src="[[ IMG_PATH ]]cut-3-row-1-img.webp" alt="" />
            </div>
            <div class="cut-3-col cut-3-content">
                <div class="cut-3-content-hd">
                    <div class="title svgtxt">
                        <img
                            class="svgtxt-img"
                            src="[[ IMG_PATH ]]cut-3-row-1-title.svg"
                            alt="" />
                        <span class="svgtxt-txt">ABOUT LUXURY</span>
                    </div>
                    <div class="subtitle color-primary-color">
                        城市廣角 繁華之上
                    </div>
                </div>
                <div class="cut-3-content-bd">
                    <p class="txt">
                        濃縮國際地段的精彩縮影，千億商業能量的精彩綻放<br />
                        快捷交通近在咫尺之上，毗鄰創意美學總部ＩＫＥＡ<br />
                        生活在此 向上延伸
                    </p>
                    <div class="txt txt-uppercase color-primary-color">
                        Upgrande your life
                    </div>
                </div>
            </div>
        </div>
        <div class="cut-3-row cut-3-row-2">
            <div class="cut-3-col cut-3-img">
                <img src="[[ IMG_PATH ]]cut-3-row-2-img.webp" alt="" />
            </div>
            <div class="cut-3-col cut-3-content">
                <div class="cut-3-content-hd">
                    <div class="title svgtxt">
                        <img
                            class="svgtxt-img"
                            src="[[ IMG_PATH ]]cut-3-row-2-title.svg"
                            alt="" />
                        <span class="svgtxt-txt">ABOUT LUXURY</span>
                    </div>
                    <div class="subtitle color-primary-color">
                        對焦 文心森林公園，綠奢之上
                    </div>
                </div>
                <div class="cut-3-content-bd">
                    <p class="txt">
                        一種剛剛好的距離，步行5分鐘即享繁花綠海<br />
                        放大奢活品味　放慢生活步調
                    </p>
                    <div class="txt txt-uppercase color-primary-color">
                        Upper Living
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
