<section class="cut-4 section-wrap">
    <div class="section-container">
        <div class="contact-wrap">
            <div class="contact-map">
                <h2 class="title color-primary-1">
                    <span class="line"></span>
                    <span class="text">著迷城心 七期之上</span>
                    <span class="line"></span>
                </h2>
                <img src="[[ IMG_PATH ]]map.webp" alt="" />
            </div>
            <div class="show-mobile contact-hd">
                <div class="title">
                    <span class="line"></span>
                    <div class="svgtxt">
                        <img src="[[ IMG_PATH ]]contact-title.svg" alt="" />
                        <div class="txt svgtxt-txt">RESERVATION</div>
                    </div>
                    <span class="line"></span>
                </div>
                <p class="txt">
                    敬請留下您的聯絡方式，<br />我們將有專人為您服務，謝謝！
                </p>
            </div>
            <form action="" class="contact-form form-wrap">
                <div class="form-row">
                    <div class="form-field">
                        <label for="username">貴賓姓名</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="phone">聯絡電話</label>
                        <input
                            type="tel"
                            id="phone"
                            name="phone"
                            placeholder="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="type">房型需求</label>
                        <input
                            type="tel"
                            id="type"
                            name="type"
                            placeholder="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="message">留言詢問</label>
                        <textarea
                            name="message"
                            id="message"
                            placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-info">
                    <div class="title">隱私權聲明</div>
                    <p class="txt">
                        您所登錄的個人資料將作以下用途：<br />
                        1.本網站所載之相關資料通知<br />
                        2.客戶管理與服務<br />
                        3.本公司行銷業務之推廣，本案實際內容以現場公佈為準。
                    </p>
                    <div class="form-rcx">
                        <label for="rcx" class="form-rcx-label">
                            <input
                                id="rcx"
                                type="checkbox"
                                class="form-rcx-input" />
                            <div class="form-rcx-inner">
                                <div class="choicemark">
                                    <svg
                                        class="choicemark-check"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="25"
                                        height="25"
                                        viewBox="0 0 25 25"
                                        fill="none">
                                        <mask
                                            id="mask0_28_761"
                                            style="mask-type: alpha"
                                            maskUnits="userSpaceOnUse"
                                            x="0"
                                            y="0"
                                            width="25"
                                            height="25">
                                            <rect
                                                x="0.765015"
                                                y="0.144836"
                                                width="24"
                                                height="24"
                                                fill="#D9D9D9" />
                                        </mask>
                                        <g mask="url(#mask0_28_761)">
                                            <path
                                                d="M10.3215 15.3073L18.7965 6.83235C18.9965 6.63235 19.2298 6.53235 19.4965 6.53235C19.7632 6.53235 19.9965 6.63235 20.1965 6.83235C20.3965 7.03235 20.4965 7.26985 20.4965 7.54485C20.4965 7.81985 20.3965 8.05735 20.1965 8.25735L11.0215 17.4573C10.8215 17.6573 10.5882 17.7573 10.3215 17.7573C10.0548 17.7573 9.82151 17.6573 9.62151 17.4573L5.32151 13.1573C5.12151 12.9573 5.02567 12.7198 5.03401 12.4448C5.04234 12.1698 5.14651 11.9323 5.34651 11.7323C5.54651 11.5323 5.78401 11.4323 6.05901 11.4323C6.33401 11.4323 6.57151 11.5323 6.77151 11.7323L10.3215 15.3073Z"
                                                fill="#ffffff" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="label">
                                    本人知悉並同意『<a
                                        href="javascript:void(0);"
                                        target="_blank"
                                        >個資告知事項聲明</a
                                    >』內容
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form-btn">
                    <button type="button" class="btn btn-send">SEND</button>
                </div>
            </form>
        </div>
    </div>
</section>
