<section class="cut-1 section-wrap">
    <div class="section-container">
        <div class="cut-1-video">
            <video
                autoplay
                muted
                loop
                playsinline
                data-desktop="[[ IMG_PATH ]]video_pc.mp4"
                data-mobile="[[ IMG_PATH ]]video_mb.mp4"></video>
        </div>
    </div>
</section>
