@use "../../abstracts/functions/set-vw" as *;
@use "../../abstracts/mixin/psudoClass" as *;

.app-footer {
    padding-top: set-vw(164, 1920);
    
    &-container {
        background-color: #2d331b;
        padding: set-vw(69, 1920) 0;
    }
    &-row {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: set-vw(19, 1920);
        .phone {
            font-size: set-vw(28, 1920);
        }

        .logo {
            width: set-vw(118, 1920);
            aspect-ratio: 118 / 30;
        }

        &:first-child {
            position: relative;
            margin-bottom: set-vw(63, 1920);
            
            &::after {
                @include psudoClass;
                width: set-vw(1816, 1920);
                height: 1px;
                background-color: var(--primary-1);
                position: absolute;
                bottom: set-vw(-32, 1920);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}